.box {
    display: flex;
    place-content: center;
    width: 700px;
    height: 700px;
    overflow-y: scroll;
}

.list {
    width: 600px;
}
@media only screen and (max-width: 740px){
    .box{
      width: 500px;
    }
}
@media only screen and (max-width: 740px){
    .box{
      width: 300px;
      padding-left: 170px;
    }
    p{
        padding-left: 170px;
    }
}